<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Selection</title>
    <link rel="stylesheet" href="/static/css/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="typing-effect">Choose Your Game</h1>
    </header>
    <main>
        <div class="card-container">
            <div class="card" onclick="window.location.href='/index';">
                <h2>Rock Paper Scissors</h2>
                <p>Test your luck and skills in this classic game!</p>
            </div>
            <div class="card" onclick="window.location.href='https://mann-h-patel.github.io/Tic-Tac-Toe-Game/';">
                <h2>Tic Tac Toe</h2>
                <p>Play against your friend or the computer in Tic Tac Toe!</p>
            </div>
            <div class="card" onclick="window.location.href='https://mann-h-patel.github.io/Guess-The-Name-WebGame/';">
                <h2>Guess The Name</h2>
                <p>Can you guess the name based on the clues provided?</p>
            </div>
            <div class="card" onclick="window.location.href='https://chat-app-dwej.onrender.com/';">
                <h2>Chat App</h2>
                <p>Chat with your friends in real-time!</p>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 Game Hub. All Rights Reserved.</p>
    </footer>
    <script src="/static/js/landing.js"></script>
</body>

</html>
